.header {
    text-transform: uppercase;
    height: 5rem;
    background-color: #099AEB;

    & > * {
        display: inline-block;
        position: relative;
        margin-top: 1.25rem;
    }

    &__logo {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.6rem;
        color: #eee;
        line-height: 2.5rem;
    }
    
    &-left {
        margin-left: 1.5rem;
    }

    &-right {
        margin-right: 1.5rem;
        float: right;
        & > a {
            margin-right: 1rem;
        }
    }

    &__link--active {
        background-color: gray;
    }
}